*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}
.container{
    border: px solid black;
    text-align: center;
    /* align-items: center; */
    width: 12rem;
    height: 15.5rem;
    border-radius: 5px;
    margin-left: 25rem;
    margin-top: 5rem;
    background-color: rgb(171, 235, 252);

}
#Text-10{
    margin-top: 15px;
    border: 0px;
    height: 20px;
    border-radius: 2.5px;

}
#Text-1{
    border: 0px;
    height: 20px;
    border-radius: 2.5px;
}
#btn{
    padding: 5px 10px;
    border-radius: 5px;
    border: 0px;
    background-color: rgb(39, 146, 103);
    color: white;
}
#forgot-password{
    font-size: 10px;
    color: red;
    margin-top: 5px;
}

#h-1{
    font-size: 17px;
    padding-top: 5px;
    padding-top: 10px;
}